header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header form {
  text-align: center;
  max-width: 400px;
  display: flex;
}

header form input {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
